<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ExampleApp"
        android:label="NovaLicense Demo"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name="com.novastore.novalicense.NovaLicenseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>